@import 'tailwindcss';

:root {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@theme {
    --color-primary: #00d5be;
    --color-surface-900: #0c0c0c;
    --color-surface-700: #121212;
}

.title {
    view-transition-name: title;
}

.logo {
    view-transition-name: logo;
}

::view-transition-group(*) {
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0, 0.35, 1, 0.7);
}
