@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

:root {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@theme {
    --color-primary: #00d5be;
    --color-primary-hover: #00f1d7;
    --color-surface-900: #0c0c0c;
    --color-surface-700: #121212;
}

.title {
    view-transition-name: title;
}

.logo {
    view-transition-name: logo;
}

::view-transition-group(active-tab) {
    animation-duration: 275ms;
    animation-timing-function: cubic-bezier(0.65, -0.08, 0, 1.44);
}

::view-transition-old(active-tab),
::view-transition-new(active-tab) {
    opacity: 1;
    height: 100%;
}

.react-flow__panel a {
    color: rgb(85, 85, 85) !important;
}

.react-flow__attribution {
    background: transparent !important;
}
