@import 'tailwindcss';

:root {
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@theme {
    --color-primary: #00d5be;
    --color-surface-900: #0c0c0c;
    --color-surface-700: #121212;
}
